<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Контакты</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="/">Главная</a></li>
                <li><a href="/blog">Блог</a></li>
                <li><a href="/contacts">Контакты</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <h1>Свяжитесь с нами</h1>
        <p>Вы можете связаться с нами по электронной почте: contact@example.com</p>
    </main>
</body>
</html>
